 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 853px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0 179px;
}

.u-section-1 .u-list-1 {
  width: 783px;
  margin: 86px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 671px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 0 6px;
}

.u-section-1 .u-image-1 {
  height: 155px;
  width: 155px;
  background-image: url('../img/team1.png');
  margin: 12px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 34px auto 0 8px;
}

.u-section-1 .u-container-layout-2 {
  padding: 17px 0 15px;
}

.u-section-1 .u-image-2 {
  height: 155px;
  width: 155px;
  background-image: url("../img/cherish1.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 34px auto 0 8px;
}

.u-section-1 .u-container-layout-3 {
  padding: 17px 0 15px;
}

.u-section-1 .u-image-3 {
  height: 155px;
  width: 155px;
  background-image: url("../img/cherish.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 34px auto 0 8px;
}

.u-section-1 .u-container-layout-4 {
  padding: 17px 0 15px;
}

.u-section-1 .u-image-4 {
  height: 155px;
  width: 155px;
  background-image: url("../img/cherish.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 34px auto 0 8px;
}

.u-section-1 .u-container-layout-5 {
  padding: 17px 0 15px;
}

.u-section-1 .u-image-5 {
  height: 155px;
  width: 155px;
  background-image: url("../img/cherish.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 34px auto 0 8px;
}

.u-section-1 .u-container-layout-6 {
  padding: 17px 0 15px;
}

.u-section-1 .u-image-6 {
  height: 155px;
  width: 155px;
  background-image: url("../img/cherish.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 34px auto 0 8px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 254px;
  background-image: none;
  padding: 5px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 254px;
  right: 8px;
  background-image: none;
  padding: 5px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-1 .u-image-1 {
    height: 253px;
    width: 253px;
  }

  .u-section-1 .u-image-2 {
    --radius: 3px;
  }

  .u-section-1 .u-image-3 {
    --radius: 3px;
  }

  .u-section-1 .u-image-4 {
    --radius: 3px;
  }

  .u-section-1 .u-image-5 {
    --radius: 3px;
  }

  .u-section-1 .u-image-6 {
    --radius: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 11px;
    margin-right: 118px;
    margin-left: 144px;
  }

  .u-section-1 .u-list-1 {
    width: 709px;
    margin-top: 11px;
    margin-right: 0;
    margin-bottom: 11px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 655px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-image-1 {
    height: 200px;
    width: 200px;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 51px;
    margin-left: 11px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-image-2 {
    height: 200px;
    width: 200px;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 13px;
    margin-right: 51px;
    margin-left: 11px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-image-3 {
    height: 200px;
    width: 200px;
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-right: 51px;
    margin-left: 11px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-image-4 {
    height: 200px;
    width: 200px;
    margin-top: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 13px;
    margin-right: 51px;
    margin-left: 11px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-image-5 {
    height: 200px;
    width: 200px;
    margin-top: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 13px;
    margin-right: 51px;
    margin-left: 11px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-image-6 {
    height: 200px;
    width: 200px;
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 13px;
    margin-right: 51px;
    margin-left: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 71px;
    margin-right: 28px;
    margin-left: 50px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 321px;
    width: 321px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 15px;
  }

  .u-section-1 .u-image-1 {
    height: 198px;
    width: 198px;
    margin-right: 64px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 43px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 15px;
  }

  .u-section-1 .u-image-2 {
    height: 198px;
    width: 198px;
    margin-right: 64px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 43px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 15px;
  }

  .u-section-1 .u-image-3 {
    height: 198px;
    width: 198px;
    margin-right: 64px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 43px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 15px;
  }

  .u-section-1 .u-image-4 {
    height: 198px;
    width: 198px;
    margin-right: 64px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 43px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 15px;
  }

  .u-section-1 .u-image-5 {
    height: 198px;
    width: 198px;
    margin-right: 64px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 43px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 15px;
  }

  .u-section-1 .u-image-6 {
    height: 198px;
    width: 198px;
    margin-right: 64px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 43px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-gallery-nav-1 {
    left: 8px;
    top: 205px;
  }

  .u-section-1 .u-gallery-nav-2 {
    top: 205px;
  }
}