 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1514px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 820px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 13px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 18px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  background-image: none;
  margin: 27px 35px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 43px auto 0 18px;
  padding: 10px 44px 10px 43px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 626px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-shape-1 {
  height: 541px;
  background-image: none;
  width: 185px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 5px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 505px;
  height: 426px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -416px auto 0 5px;
}

.u-section-1 .u-image-1 {
  width: 388px;
  height: 404px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  box-shadow: 2px 2px 40px 0 rgba(26,26,26,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -558px auto 0 18px;
}

.u-section-1 .u-accordion-1 {
  width: 664px;
  margin: -400px -551px 0 auto;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 155px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin-left: 0;
  margin-right: 0;
  background-image: none;
  margin-top: 20px;
  padding: 8px 33px;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-6 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 1456px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-shape-3 {
  width: 398px;
  height: 416px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 126px 27px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 430px;
  height: 518px;
  filter: brightness(0.95);
  box-shadow: 2px 2px 40px 0 rgba(26,26,26,0.4);
  object-position: 0% 50%;
  background-position: 0% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -480px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1709px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 863px;
  }

  .u-section-1 .u-text-1 {
    line-height: 46.8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 572px;
  }

  .u-section-1 .u-shape-2 {
    width: 469px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -559px;
  }

  .u-section-1 .u-accordion-1 {
    width: 500px;
    margin-top: -374px;
    margin-right: -471px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1598px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 207px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -394px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2064px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 37px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 328px;
  }

  .u-section-1 .u-shape-3 {
    width: 426px;
    height: 97px;
    margin-top: 61px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-image-2 {
    height: 272px;
    margin-top: -123px;
    margin-left: 94px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2177px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 246px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2425px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 905px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    line-height: 1.2;
    width: auto;
    margin-right: 164px;
    margin-left: 7px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 1px;
    margin-right: 68px;
    margin-left: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 35px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1008px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 354px;
    margin-top: -539px;
    margin-left: 0;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
    margin-top: 43px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 273px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 215px;
    margin-top: -70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}